@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="forms">
    <div id="item-form">
        <form class="new-item" action="/Item/Create" method="post">
            <div class="form-group">
                <label for="ItemName" class="control-label">Item Name</label>
                <input name="ItemName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Stock" class="control-label">Stock</label>
                <input name="Stock" type="number" min="1" class="form-control" />
            </div>
            <div class="form-group">
                <label for="BuyPrice" class="control-label">Buy Price</label>
                <input name="BuyPrice" type="number" min="1" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SalePrice" class="control-label">Sale Price</label>
                <input name="SalePrice" type="number" min="1" class="form-control" />
            </div>
            <div>
                <button class="btn btn-lg btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
